<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="keywords" content="Hansom的博客, Python学习笔记, Django博客开发, Django学习笔记">
    <meta name="description" content="Hansom的博客是分享学习Python技术与经验的个人博客，由Python、Django以及资源分享等分类组成，内容主要是Django博客开发。">
    <title>标签 - Hansom的博客</title>
    <meta name="author" content="created by Hansom">
    <meta name="baidu-site-verification" content="zdoL8Inhps">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
    <!--<link href="css/buttons-2.0.0.min.css" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
</head>
<body>

<div id="app" v-cloak>
    <div class="top"><a class="totop" title="回顶部" style="display: none;"><i class="fa fa-arrow-up fa-2x"></i></a>
        <div class="wrap page-header">
            <h1>
                <a href="/">Hansom 的个人博客</a>

            </h1>
        </div>
        <div class="notic">
            <div class="wrap subnotic"><i class="fa fa-bullhorn"></i> 欢迎来到我的博客！</div>
        </div>
    </div>

    <div class="middle">


    </div>

    <div class="wrap">
        <div class="main">

            <div class="block" v-for="article in articles">
                <h2><span class="category"> <a href="#" rel="category tag">{{article.category.name}}</a> <i
                        class="fa fa-caret-right"></i></span><a
                        :href="'/detail.html?id='+article.id">{{ article.title }}</a></h2>
                <ul class="taglist--inline" style="margin-left: 4px;">
                    <li v-for="t in article.tag"><a class="tag" href="#" data-id="">{{t.name}}</a></li>
                </ul>
                <div class="clear"></div>

                <div class="viewimg"><a :href="'/detail.html?id='+article.id" class="ipic"> <img
                        :src="article.article_avatar" alt="" class="thumbnail"></a>
                </div>
                <div class="preview">{{ article.desc }}</div>
                <div class="preem">

                    <span><i class="fa fa-clock-o"></i> {{ article.create_time }} </span>
                    <span><i class="fa fa-eye"></i> {{ article.clicks }}阅读 </span>
                    <!--<span><i class="fa fa-comment-o"></i> <a href="/post/10/"-->
                    <!--class="ds-thread-count">23评论</a> </span>-->
                    <span class="more" style="margin-right: 0"><a
                            :href="'/detail.html?id='+article.id" :title="article.title">阅读详情</a></span>
                </div>
            </div>
            <div class="pagenation">
                <a v-show="previous" @click="on_page(previous)">上一页</a>
                <a v-for="num in page_nums" @click="on_page(num)" :class="num==page?'active':''">{{num}}</a>
                <a v-show="next" @click="on_page(next)">下一页></a>
            </div>
        </div>

        <div class="sider">
            <div class="right">
                <div class="subblock">
                    <h3>标签</h3>
                    <ul class="tag_cloud" id="index-tag">
                        <template v-for="tag in tags">
                            <a @click="get_tag_articles(tag.id)" :title="tag.article__count+'篇文章'">
                                {{tag.name}}&nbsp;&nbsp;&nbsp;({{tag.article__count}})
                            </a>
                        </template>
                    </ul>
                </div>
                <ul class="widgets">
                </ul>

            </div>
        </div>

    </div>
    <div class="clear"></div>
    ﻿
    <div class="footer">
        <div class="wrap">
            <p class="ffooter">Copyright © 2019 Hansom 的博客 | 粤ICP备19011979号 </p>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/yycm.js"></script>
<!--<script src="https://cdn.bootcss.com/ResponsiveSlides.js/1.55/responsiveslides.min.js"></script>-->
<script src="js-es6/tag-es6.js"></script>

</body>
</html>